.div-CardSideBarProducts {
  width: 80%;
  height: 50px;
  margin: 0 10%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
  cursor: pointer;
}

.div-CardSideBarProducts p {
  color: brown;
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  margin: 8px 16px;
}
